### Using Mapbox Token

In [14]:
MAPBOX_TOKEN = "pk.eyJ1IjoibWFoaXBhbDAxIiwiYSI6ImNtamViN2hncDBnN3czY3M4a3F4MHFxb3cifQ.p_15yvzvrw0qlhcw0S_4qg"

In [15]:
import requests
from PIL import Image
from io import BytesIO
import os
import pandas as pd
import numpy as np

### Saving image file from latitude and longitude

In [16]:
os.makedirs("images", exist_ok=True)

def fetch_satellite_image(lat, lon, idx, zoom=17.5):
    filename = f"images/house_{idx}.png"
    if os.path.exists(filename):
        return
    url = (
        f"https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/"
        f"{lon},{lat},{zoom}/224x224"
        f"?access_token={MAPBOX_TOKEN}"
    )
    
    response = requests.get(url)
    image = Image.open(BytesIO(response.content))
    image.save(f"images/house_{idx}.png")

In [4]:
os.makedirs("images_val", exist_ok=True)

def fetch_satellite_image2(lat, lon, idx, zoom=17.5):
    filename = f"images_val/house_{idx}.png"
    if os.path.exists(filename):
        return
    url = (
        f"https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/"
        f"{lon},{lat},{zoom}/224x224"
        f"?access_token={MAPBOX_TOKEN}"
    )
    
    response = requests.get(url)
    image = Image.open(BytesIO(response.content))
    image.save(f"images_val/house_{idx}.png")

In [17]:
df=pd.read_csv('train(1)(train(1)).csv')
df_val=pd.read_csv("test.csv")

In [18]:
df.shape

(16209, 21)

In [19]:
df[df['bedrooms']==33]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3193,2402100895,20140625T000000,640000,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [20]:
df_val.shape

(5404, 18)

In [21]:
df = df[df['bedrooms'] != 33]

In [24]:
df.shape

(16208, 21)

In [7]:
# fetch_satellite_image2(47.4362,-122.187,0,17.5)

In [25]:
for idx, row in df.iterrows():
    fetch_satellite_image(row['lat'], row['long'], idx)

In [8]:
for idx, row in df_val.iterrows():
    fetch_satellite_image2(row['lat'], row['long'], idx)

### Images Saved sucessfully